<?xml version="1.0"?>
<!--
  ~ /*
  ~  * @author Coskun Baltaci
  ~  * @copyright Copyright (c) 2022 "Coskun Baltaci"
  ~  */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Coskun_NewsletterSubscriberInfo">
        <sequence>
            <module name="Magento_Newsletter"/>
        </sequence>
    </module>
</config>
